.buttonMaster {
  text-align: center;
}
.oilbutton {
  background-color: #f2e1a6;
  border: 2px solid black;
  border-radius: 5px;
  height: 30px;
  width: 95px;
}
.waterbutton {
  background-color: #a6e4f2;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 10px;
  height: 30px;
  width: 95px;
}
.vegitablebutton {
  background-color: #62d08e;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 10px;
  height: 30px;
  width: 95px;
}
.spicesbutton {
  background-color: #ed722c;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 10px;
  height: 30px;
  width: 95px;
}
.resetbutton {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 10px;
  height: 30px;
  width: 90px;
}
.containers {
  background-color: grey;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}
.innerdivs {
  padding: 10px;
}
.propertyDisplay {
  margin-left: 5px;
}
